@if (cart_item()) {
    <section class="wrapper">
        <div class="item">
            <img [src]="cart_item().imageUrl" [alt]="cart_item().name" class="image" />
            <div class="name">
                {{ cart_item().name }}
                <div class="detail">
                    <p>Free 90-day return</p>
                    <p>Gift Elibilbe</p>
                </div>
            </div>
            <div class="price">
                <strong>{{cart_item().price}}</strong>
            </div>
        </div>
        <section class="controls">
            <span class="remove">Remove</span>
        </section>
    </section>
}