<!-- First thing -->
<!-- <section class="container mt-4"> -->
    <!-- <h1 class="text-center text-primary">Counter {{counter}}</h1> -->
    <!--counter (original) -->

    <!-- <h1 class="text-center text-primary">Counter {{counter()}}</h1> -->
    <!-- counter (signal) -->
    <!-- <div class="d-flex justify-content-center"> -->
        <!-- <button class="btn btn-danger px-2 mx-1" (click)="decrement()">-</button> -->
        <!-- <button class="btn btn-success px-2 mx-1" (click)="increment()">+</button> -->
        <!-- <button class="btn btn-secondary px-2 mx-1" (click)="reset()">reset</button> -->
    <!-- </div> -->
<!-- </section> -->



<!-- Second thing -->
<!-- <app-recipe-list></app-recipe-list> -->
<router-outlet></router-outlet>